<form [formGroup]="form" (submit)="onSubmit()" class="login-form">
  <input
    type="text"
    placeholder="E-mail"
    class="login-input"
    formControlName="email"
  />
  <input
    type="password"
    placeholder="Пароль"
    class="login-input"
    formControlName="password"
  />
  <input
    type="text"
    placeholder="ФИО"
    class="login-input"
    formControlName="fio"
  />
  <div class="login-links">
    <a routerLink="/login" class="login-link">Войти с помощью аккаунта</a>
    <button class="login-submit" type="submit">Регистрация</button>
  </div>
</form>
