.search-form {
  position: relative;
  display: flex;
  align-items: center;

  .search-input {
    flex: 1;
    height: 53px;
    border: none;
    border-radius: 5px;
    background-color: var(--search-bg-color);
    font-size: 18px;
    padding: 0;
    padding-left: 18px;
    padding-right: 66px;
    color: var(--accent-color);

    &::placeholder {
      color: var(--accent-color);
      opacity: 0.7;
    }

    &:focus {
      outline: 2px solid var(--accent-color);
    }
  }

  .search-button {
    position: absolute;
    right: 18px;
    border: none;
    padding: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: transparent;

    &:focus {
      outline: 2px solid var(--accent-color);
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}
